@import url('../../App.css');

.scheduleContent{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
}

.dayHover{
    color: 'var(--text-color)';
    transition: 0.3s ease;
}

.dayHover p{
    transition: 0.3s ease;
}

.dayHover:hover p {
    color: var(--brand-secondary) !important;
  }

.green-text{
    color: var(--brand-secondary);
}

.gray-text{
    color: var(--text-color);
}