@import url('../../App.css');

.scheduleContent{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
}

.dayHover{
    transition: 0.3s ease;
    color: 'var(--text-color)';
}

.dayHover:hover p {
    color: var(--brand-secondary) !important;
  }