.todo-tasks {
    margin-top: 20px;
  }
  
  .line-through {
    text-decoration: line-through;
  }
  
  .text-gray-400 {
    color: gray;
  }
  
.todo-task input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: var(--brand-primary);
  }
  
input[type="checkbox"] {
    accent-color: var(--brand-primary);
  }
  
  input[type="checkbox"] {
    border: 2px solid var(--text-color);
  }
  