@import url('../../App.css');

.todo-tasks {
    margin-top: 20px;
  }
  
  .line-through {
    text-decoration: line-through;
  }
  
  .text-gray-400 {
    color: gray;
  }
  
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background-color: var(--checkbox-bg);
    border: 2px solid var(--text-color);
    border-radius: 4px;
    display: flex;
    align-items: center;    /* Center the checkmark vertically */
    justify-content: center; /* Center the checkmark horizontally */
    margin-right: 6px;
    cursor: pointer;
    font-size: 14px; /* make the ✓ big enough */
    color: var(--text-black); /* text color for the ✓ */
  }
  
  [data-theme="dark"] input[type="checkbox"] {
    background-color: var(--component-bg);
    border: 2px solid var(--text-color);
  }
  
  /* Custom tick */
  input[type="checkbox"]:checked::after {
    content: '✓';
    font-weight: bold;
    font-size: 14px; /* size of the tick */
  }
  
  input[type="text"] {
    height: 36px; /* or whatever height you want */
    padding: 0 12px; /* left/right padding */
    font-size: 14px;
  }
  
  button {
    height: 36px; /* match input height */
    width: 40px; /* you can adjust width separately if you want wider or narrower */
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brand-secondary);
  }
  