@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --brand-primary: #004F39;
  --brand-secondary: #3DA35D;
  --brand-tertiary: #F9F8F4;
  --border-color: #CDCFD0;
  --component-bg: #ffffff;
  --text-color: #535657;
  --text-black: #000000;
  --list-bg: #FFFFFF;
  --sidebar-bg: #3DA35D;
}

[data-theme="dark"] {
  --brand-primary: #003D2B;
  --brand-secondary: #3DA35D;
  --brand-tertiary: #18191A;
  --border-color: #007F5D;
  --component-bg: #303132;
  --text-color: rgb(164, 164, 164);
  --text-black: #ffffff;
  --list-bg: #393B3B;
  --sidebar-bg: #004F39;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 1280px;
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

body{
  background-color: var(--brand-tertiary);
}

.fontDisplay{
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  color: var(--text-color);
}

.fontInstrument{
  font-family: "Instrument Sans";
  font-weight: 400;
  color: var(--text-color);
}

.blockContent{
  border-radius: 0px 10px 10px 10px;
  background-color: var(--component-bg);
  box-shadow: 0px 1px 7.7px -1px rgba(0, 0, 0, 0.10);
}
.blockTitle{
  background-color: var(--brand-primary);
  font-family: "Instrument Sans";
  border-radius: 10px 10px 0px 0px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.sidebar {
  background-color: var(--sidebar-bg);
  padding: 1em;
  box-shadow: 0px 1px 7.7px -1px rgba(0, 0, 0, 0.10);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
